<h1>Rules of the Game</h1>

<ul>
  <li>1. Select from either Rock, Paper or Scissors</li>
  <li>2. On 3 then show your hand to your playing partner</li>
  <li>3. Repeat in a best of 5 hands</li>
  <li>4. We have a winner</li>
</ul>
